<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  </head>

  <body>
    <div class="container-fluid">
      <div class="page-header well well-sm">
        <h3><strong> Partner NGO Registration</strong></h3>
      </div>
      
      <form [formGroup]="myForm">
        <!-- ToDo: Decrease space between the table rows-->
        <div class="panel panel-info">
          <div class="panel-heading">
            <label>Basic Information</label>
          </div>
          <div class="panel-body">
            <div formGroupName="basicInfo">
              <!-- <table class="form-table"> -->
              <div class="row">
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group required">
                      <label class="control-label">Name</label>
                      <input type="text" formControlName = "name" class="form-control well well-sm">
                    </div>
                  </div>
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                      <label class="control-label">Description</label>
                      <input type="text" formControlName = "description" class="form-control well well-sm">
                    </div>
                  </div>
                </div>
              <div class="row">
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                      <label class="control-label">Branch</label>
                      <input type="text" formControlName = "branch" class="form-control well well-sm">
                    </div>
                  </div>
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                      <label class="control-label">Registration Number</label>
                      <input type="text" formControlName = "registrationNumber" class="form-control well well-sm">
                    </div>
                  </div>
                </div>
              <!-- </table>               -->
            </div>
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">
            <label>Address</label>
          </div>
          <div class="panel-body">
            <div formGroupName="address">
              <!-- <table class="form-table"> -->
                <div class="row">
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group required">
                      <label class="control-label">Address Line 1</label>
                      <input type="text" formControlName = "addressLine1" class="form-control well well-sm">
                    </div>
                  </div>
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                      <label class="control-label">Address Line 2</label>
                      <input type="text" formControlName = "addressLine2" class="form-control well well-sm">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group required">
                      <label class="control-label">City</label>
                      <input type="text" formControlName = "city" class="form-control well well-sm">
                    </div>
                  </div>
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group required">
                      <label class="control-label">State</label>
                      <input type="text" formControlName = "state" class="form-control well well-sm">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                      <label class="control-label">Pincode</label>
                      <input type="text" formControlName = "pincode" class="form-control well well-sm">
                    </div>
                  </div>
                  <div class="col-md-6 offset-md-3">
                  </div>
                </div>
              <!-- </table>               -->
            </div>
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">
            <label>Authorised Persons</label>
          </div>
          <div class="panel-body">
            <ul class="nav nav-tabs" active="selectedTab">
              <li class="nav active" *ngIf="numberOfAuthorizedPersons>0"><a href="#tab0" data-toggle="tab" (click)="activateTab(1)">Person 1</a></li>
              <li class="nav" *ngFor="let num of getArray(numberOfAuthorizedPersons-1); let i=index;"><a href="#tab{{i+1}}" data-toggle="tab" (click)="activateTab(i+2)">Person {{i+2}}</a></li>
              <!--li class="nav active" *ngIf="numberOfAuthorizedPersons>0"><a href="#tab{{numberOfAuthorizedPersons-1}}" data-toggle="tab" (click)="activateTab(numberOfAuthorizedPersons)">Person {{numberOfAuthorizedPersons}}</a></li-->
              <!--li class="nav active" *ngIf="numberOfAuthorizedPersons>0"><a href="#tab{{numberOfAuthorizedPersons-1}}" data-toggle="tab" (click)="selectedTab=i">Person {{numberOfAuthorizedPersons}}</a></li-->
              <div class="pull-right">
                <button class="btn btn-sm btn-primary btn-space" (click)="addAuthorisedPerson()" [disabled]="isMaxLimitReached(5)">Add Person</button>
                <button class="btn btn-sm btn-primary" (click)="removeAuthorisedPerson(selectedTab)" confirm="Are you sure you want to delete?" confirm-ok="Yes" confirm-cancel="No" [disabled]="isMinLimitReached()">Remove Person</button>
              </div>
              <!--ToDo: Setup dynamic Tab Creation and Add Delete button-->
            </ul>

            <div class="tab-content">
              <div formArrayName="authorizedPersons">
                <!--ToDo: NgFor not working: Check-->
                <div class="tab-pane" *ngFor="let person of myForm.get('authorizedPersons').controls;let i=index" formGroupName="{{i}}" id="tab{{i}}">
                  <!-- <table class="form-table"> -->
                  <div *ngIf="selectedTab==i">
                    <div class="row">
                      <div class="col-md-6 offset-md-3">
                        <div class="form-group required">
                          <label class="control-label">Name</label>
                          <input type="text" formControlName = "name" class="form-control well well-sm">
                        </div>
                      </div>
                      <div class="col-md-6 offset-md-3">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 offset-md-3">
                        <div class="form-group required">
                          <label class="control-label">Contact Details</label>
                          <input type="text" formControlName = "contact1" class="form-control well well-sm">
                        </div>
                      </div>
                      <div class="col-md-6 offset-md-3">
                        <div class="form-group">
                          <label class="control-label">Alternate Contact Details</label>
                          <input type="text" formControlName = "contact2" class="form-control well well-sm">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                          <div class="form-group">
                            <label class="control-label">Email ID</label>
                            <input type="text" formControlName = "email1" class="form-control well well-sm">
                          </div>
                        </div>
                        <div class="col-md-6 offset-md-3">
                          <div class="form-group">
                            <label class="control-label">Alternate Email ID</label>
                            <input type="text" formControlName = "email2" class="form-control well well-sm">
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- </table>               -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>
      <!--<span>{{myForm.value | json}}</span>-->
      <div class="pull-right">
        <button (click)="onSubmit()" *ngIf="!mode" class="btn btn-primary btn-space">Register</button>
        <button (click)="onEdit()" *ngIf="mode=='view'" class="btn btn-primary btn-space">Edit</button>
        <button (click)="onSubmit()" *ngIf="mode=='edit'" class="btn btn-primary btn-space">Update</button>
        <button (click)="onClose()" *ngIf="mode=='view' || mode=='edit'" class="btn btn-primary btn-space">Close
        </button>
      </div>
    </div>

  </body>
</html>
