/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

/* .page-header{
    
} */

.row-bottom-margin { 
    margin-bottom:2px; 
}

.form-table {
    width: 100%;
    margin: 0;
    margin-block-end: 0;
    padding-block-end: 0;
}

.form-group.required .control-label:after{
    content:"*";
    color: red;
}

/*.invalid-feedback{
    display: false;
}*/

.btn-space{
    margin-right: 5px;
}

.ag-theme-balham{
    height:100px;
}
