/* You can add global styles to this file, and also import other style files */
.page-header{
    background-color: #00ADB5;
}

.row-bottom-margin { 
    margin-bottom:2px; 
}

.form-table {
    width: 100%;
    margin: 0;
    margin-block-end: 0;
    padding-block-end: 0;
}
