<div class="row">
  <div class="col-md-1"></div>
<div class="col-md-10">
  <p style="text-align: justify;">Youth for Seva (YFS), founded in April 2007, is a nation-wide volunteering movement that inspires youth to volunteer, and provides them with meaningful opportunities to serve the community.</p>
  <p style="text-align: justify;">The goal of YFS is to support schools, destitute shelters, government hospitals and other organizations in the social sector through volunteers who can help them mitigate some of their shortcomings and challenges. Volunteering is made easy and customized to the individual’s interests, time availability and skill sets.</p>
  <p style="text-align: justify;">YFS aims to create positive change agents in the society, through the culture of volunteering.</p>
  <p style="text-align: justify;"><strong>Vision</strong>:</p>
  <p style="text-align: justify;">Self-reliant communities powered by selfless individuals.</p>
  <p style="text-align: justify;"><strong>Mission:</strong></p>
  <div>
    <ul>
      <li>To facilitate a movement of volunteering.</li>
      <li>To empower and enable individuals to become positive change agents.</li>
      <li>To enable institutions to effectively engage community to deliver services.</li>
      <li>To promote sustainable lifestyles.</li>
    </ul>
  </div>

  <div class="col-md-1"></div>


</div>
</div>
