<div class="container-fluid">
  <div class="page-header well text-center well-sm">
    <h3><strong> Volunteer </strong></h3>
  </div>
  <div  #myGrid  style="width: 100%; height: 100%;">
    <ag-grid-angular style="height: 100%;"
      class="ag-theme-balham"
      [rowData]="data"
      [columnDefs]="headers"
      (rowClicked)="onRowCilcked($event)"

    >

    </ag-grid-angular>
  </div>
  
  <div class="pull-right">
    <button type="button" class="btn btn-primary btn-space" (click)="router.navigate(['/volunteer'])">
      Add Volunteer
    </button>
  </div>
</div>
