<div class="container-fluid">
  <div class="page-header well text-center well-sm">
    <h3><strong> Volunteer </strong></h3>
  </div>
  <div  #myGrid  style="width: 100%; height: 600px;">
    <ag-grid-angular style="height: 100%;"
      class="ag-theme-balham"
      [rowData]="data"
      [columnDefs]="headers"
      (rowClicked)="onRowCilcked($event)"
      (gridReady)="onGridReady($event)"
      [rowSelection]="rowSelection"
      [gridOptions]="gridOptions"
      >
    </ag-grid-angular>
  </div>
  <div class="col-md-10">
      <div style="text-align:right">
      <button type="button" class="btn btn-primary" (click)="router.navigate(['/volunteer'])">
          Add Volunteer
      </button>
      </div>
  </div>
</div>
