<div class="container">
  <div class="card card-container">

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form #f="ngForm"  name="form-signin" novalidate>
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{errorMessage}}</div>
          <div *ngIf="successMessage" class="alert alert-success" role="alert">{{successMessage}}</div>

          <div [ngClass]="{ 'has-error': showError }" class="form-group">
            <div *ngIf="!showReset">
            <label for="username">Email</label>
            <input #username="ngModel" [(ngModel)]="user.username" class="form-control" id="username" name="username"
                   required type="text"/>
            </div>
            <div *ngIf="showReset">
            <label for="resetToken">Token</label>
            <input #token="ngModel" [(ngModel)]="user.resetToken" class="form-control" id="resetToken" name="resetToken"
                   required type="text"/>

            <label for="password">Password</label>
            <input #password="ngModel" [(ngModel)]="user.password" class="form-control" id="password" name="password"
                   required type="password"/>
            </div>
            <div *ngIf="!showReset">
            <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="checkEmail($event)">Check</button>
            </div>
              <div *ngIf="showReset">
            <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="reset($event)">Reset</button>
            <!-- <div *ngIf="f.submitted && !username.valid" class="help-block">an valid email is required</div>-->
</div>
          </div>

        </form>


      </div>
    </div><!-- /form -->

  </div><!-- /card-container -->
</div><!-- /container -->

